
@model IEnumerable<Order>

<h1>Account @User.Identity.Name</h1>
<br />
<h3>Orders:</h3>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>City</th><th>Zip</th><th colspan="2">Cars</th><th></th></tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td> @o.City</td>
                <td>@o.Zip</td>
                <th>Car</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            @foreach (CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.Car.Model</td>
                    <td>@line.Quantity</td>
                    <td></td><td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @o.Total
                    </td>
                </tr>
            }

        }
    </table>
}
else
{
    <div class="text-center">No Orders</div>
}

